.container {
    margin-top: 50px;
    // font-size: 20px;
}
.main-head {
    display: flex;
    justify-content: space-between;
    // border: 1px solid;
}
.button {
    margin: 5px 10px;
}
.head {
    margin: 5px 10px;
}
.add-btn {
    color: white;
    background-color: #82a70c;
    border: 0px;
    padding: 15px 35px;
    border-radius: 5px;
}
td {
    padding: 10px 0px;
    text-align: center;
    // border: 1px solid;
}
thead {
    text-align: center;
    background-color: #42515f;
}

th {
    color: #ffffff;
    padding: 20px;
}

.btn button {
    padding: 0px 10px;
    text-decoration: none;
    border: none;
    background-color: transparent;
}
i {
    color: #658292;
}
